@charset "UTF-8";
/*头部*/
body{
	background: #f2f2f2;
	width: 100%;
	height: 100%;
}
.headerBox{
  width: 100%;
  background-color: #333333;
  main{
	  width: 960px;
	  margin: 0 auto;
	  .main-logo{
	  	width: 143px;
	  	float: left;
	  	img{
	  		margin:17px 0 17px 4px;
	  	}
	 }
	 .websiteName{
	 	b:first-child{
	 		font-size: 18px;
	 		margin: 23px 20px 0 20px;
	 		float: left;
	 		color:#cccccc;
	 		font-weight: normal;
	 	}
	 	b:last-child{
	 		font-size: 18px;
	 		margin-top: 23px;
	 		float: left;
	 		font-weight: normal;
    		font-family: "arial";
    		color: white;
	 	}
	 } 
  } 
}
/*找回密码*/
.ignoreBox{
	background: #f2f2f2;
	width: 100%;
	overflow: hidden;
	main{
		width: 960px;
		margin:20px auto;
		.mod-forget-area{
			background-color: #FFF;
	    	margin: 30px auto 0;
	    	.h{
	    		padding: 20px 0;
			    text-align: center;
			    border-bottom: 2px solid #f7f7f7;
			    margin: 0 30px;
			    span{
			    	 color: #333;
				    font-size: 24px;
				    font-weight: 600;
				    display: block
			    }
	    	}
		}
	.reg-detail{
	 	padding: 30px 270px;
	    font-size: 14px;
	    color: #333;
	    background: #fff;
	    .input-container{
	    	margin-top: 10px;
		    background: #f7f7f7;
		    height: 42px;
		    border: 1px solid #d9d9d9;
		    border-radius: 21px;
		    position: relative;
		    margin-top: 30px;
		    .inputLeft{
				width: 90px;
				height: 100%;
			    border-right: 1px solid #d9d9d9;
			    padding: 0 16px;
			    line-height: 42px;
			    .ddrop-EMU5{
			    	display: block;
				    height: 42px;
				    line-height: 42px;
				    position: relative;
				    cursor: pointer;
				    .select-ico{
				    	width: 12px;
	    				height: 6px;
	    				margin-left: 8px;
	    				display: inline-block;
				    }
			    }
		     }
		     .input-right{
	     	    height: 100%;
			    padding-right: 16px;
			    line-height: 42px;
		     }
		     .input-content{
		     	float: left;
		     	    height: 100%;
		     	input{
		     		height: 100%;
				    width: 100%;
				    border: 0px;
				    padding: 0 16px;
				    background: transparent;
				    outline:none;
		     	}
		     }
	      }
	      .reg-btn{
	      	margin-top: 30px;
	    	text-align: center;
	    	.btn-reg{
				background-color: #B40707;
			    border: none;
			    color: #fff;
			    margin-bottom: 30px;
			    outline: none;
	    	}
	      }
	   }
	}
}
/*底部*/
.footerBox{
	height: 100%;
   width: 100%;
   background-color: #f2f2f2;
   main{
		width: 960px;
		margin:0 auto;
		padding-top: 24px;
		.footer{
			height: 24px;
			text-align: center;
			a{
				font-size: 12px;
			    color: #999;
			    padding: 0 10px;
			}
			em{
				font-weight: normal;
    			font-style: normal;
    			line-height: 24px;
    			color: #999;
			}
		}
		.copyrightPart{
			font-size: 14px;
			color: #999;
			text-align: center;
			margin:10px 0 20px 0;
		}
   }
}
.l{
	float: left;
}
.r{
	float: right;
}
.text{
	height: 28px;
    line-height: 28px;
    font-size: 14px;
    padding: 0 16px;
}
.btn{
	width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: #fff;
    cursor: pointer;
}
[blo="current"]{
	background: #b40707!important;
}
.hint{
	font-size: 12px;
	margin:5px 0 0 15px;
	color: red;
	display: none;
}