@charset "utf-8";
/*导航栏*/
.navBox{
	width: 100%;
	background-color: #ffffff;
	position: relative;
}
.navBox nav{
	width: 1200px;
	margin: 0 auto;
	/*position: relative;*/
}
/* logo部分 */
.navBox nav .logo{
	float: left;
}
.navBox nav .logo a img{
	width: 100%;
	height: 100%;
}
.navBox nav .logo a:first-child,
.navBox nav .logo a:last-child{
	display: block;
	width: 102px;
	height: 36px;
	float: left;
	margin:20px 0;
}
.navBox nav .logo em{
	display: block;
	width: 11px;
    height: 10px;
    background:url(../images/icon-header.png) no-repeat;
    background-position: -22px -149px;
    float: left;
    margin: 34px 0 0 8px;
}
.navBox nav .logo a:last-child{
	width: 114px;
}
/*商品展示*/
.navBox nav .product{
	float: left;
	margin:30px 0 0 60px;
}
.navBox nav .product>li{
	float: left;
	margin-right: 20px;
}
.navBox nav .product>li>a{
	color: black;
	display: block;
	height: 40px;
}
.p-hover{
	color: #00b5e2!important;
	border-bottom: 2px solid #00b5e2!important;
}
/* 搜索 */
.navBox nav form{
	float: right;
	position: relative;
	margin-top: 25px;
}
.navBox nav form input{
	float: left;
}
.navBox nav form input[type=text]{
	height: 30px;
	width: 320px;
	border: none;
	background: #f5f5f5;
	border-radius: 25px;
	outline: none;
	text-indent: 15px;
}
.navBox nav form input[type=submit]{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: none;
	position: absolute;
	right: 1px;
	background: #666666 url(../images/icon-header.png) no-repeat;
	background-position: 0 -21px;
	outline: none;
	cursor: pointer;
}
/* 显示在搜索框上的 */
.navBox nav .other{
	width: 140px;
	height: 20px;
	position: absolute;
	left: 125px;
	top: 3px;
}
.navBox nav .other a{
	font-size: 12px;
	color: #a4a4a4;
}
.navBox nav .other a:last-child{
	margin-left: 20px;
}
.navBox nav .other a:hover{
	color: #00b5e2;
}
/*轮播图列表点*/
.active{
	background:url(../images/banner-focus.png)!important;
}
.blur{
	background:url(../images/banner-blur.png)!important;
}
/* banner图 */
.bannerBox{
	position: relative;
	height: 450px;
	overflow: hidden;
}
.bannerBox ul li{
	height: 450px;
}
.bannerBox a{
	display: block;
	height: 100%;
	width: 100%;
}
.bannerBox a img{
	width: 100%;
	height: 100%;
}
.bannerBox .banner-list{
	font-size: 1px;
    line-height: 1px;
    height: 15px;
    position: absolute;
    bottom: 14px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    text-align: center;
}
.bannerBox .banner-list span{
	border-radius: 14px;
    border: 0px solid #FFF;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    margin-left: 10px;
    width: 14px;
    background:url(../images/banner-blur.png);
    cursor: pointer;
}
/* 热销爆款 */
.hotBox{
	width: 100%;
	background-color: #ffffff;
}
.hotBox main{
	width: 1200px;
	margin: 0 auto;
}
.hotBox main nav{
	margin: 0 auto;
	padding-top:60px;
	width: 120px;
	margin-bottom: 25px;
}
.hotBox main nav h2{
	font-size: 30px;
	width: 120px;
	margin-top: 10px;
}
/* 热销爆款手机图片 */
.hotBox main article a{
	display: block;
	width: 300px;
	height: 280px;
	float: left;
	margin-bottom: 10px;
}
.hotBox main article a:first-child{
	background: url(../images/hot1.jpg) no-repeat;
}
.hotBox main article a:nth-child(2){
	background: url(../images/hot1.jpg) no-repeat;
	background-position: -300px 0;
}
.hotBox main article a:nth-child(3){
	background: url(../images/hot1.jpg) no-repeat;
	background-position: -600px 0;
}
.hotBox main article a:last-child{
	background: url(../images/hot1.jpg) no-repeat;
	background-position: -900px 0;
}
/* 其他图片 */
.hotBox main footer a{
	display: block;
	width: 385px;
	height:190px;
	float: left;
	margin:0 22px 60px 0;
}
.hotBox main footer a:first-child{
	background: url(../images/hot2.jpg) no-repeat;
}
.hotBox main footer a:nth-child(2){
	background: url(../images/hot2.jpg) no-repeat;
	background-position: -405px;
}
.hotBox main footer a:last-child{
	background: url(../images/hot2.jpg) no-repeat;
	background-position: -810px;
	margin: 0px;
}
/* 荣耀手机 */
.phoneBox{
	width: 100%;
	background-color: #ffffff;
}
.phoneBox main{
	width: 1200px;
	margin: 0 auto;
}
/* 荣耀手机 */
.phoneBox main .phoneList{
	position: relative;
	margin-bottom: 60px;
	overflow: hidden;
	height: 270px;
}
.phoneBox main .phoneList .drag-list{
	position: absolute;
}
.phoneBox main .phoneList .drag-list li{
	width: 238px;
	height: 268px;
	border: 1px solid #eaeaea;
	float: left;
}
/* 两个侧边按钮 */
.phoneBox main .phoneList .drag-btn{
	height: 75px;
	background: #f0f0f0 !important;
    left: 0;
    margin-top: -38px;
    width: 22px;
    position: absolute;
    top: 50%;
}
.phoneBox main .phoneList .drag-btn span,
.phoneBox main .phoneList .drag-btnNext span{
	display: block;
    margin: 28px auto;
    height: 16px;
    width: 11px;
	background: url(../images/phone-list.png) no-repeat;
	background-position: -101px -1px;
}
.phoneBox main .phoneList .drag-btnNext{
	height: 75px;
    width: 22px;
    position: absolute;
	right: 0;
	top: 50%;
	background: #f0f0f0 !important;
}
.phoneBox main .phoneList .drag-btnNext span{
	background-position: -112px -1px;
}
/* 笔记本、平板 */
.notebookBox{
	width: 100%;
	background-color: #ffffff;
}
.notebookBox main{
	width: 1200px;
	margin: 0 auto;
}
.notebookBox main article{
	margin-bottom: 60px;
}
/* 潮流穿戴 */
.wearBox{
	width: 100%;
	background-color: #ffffff;
}
.wearBox main{
	width: 1200px;
	margin: 0 auto;
}
.wearBox main header ul{
    text-align: center;
    margin-top: 20px;
}
.wearBox main article{
	margin-bottom: 60px;
}
/*炫彩 配件*/
.partsBox{
	width: 100%;
	background-color: #ffffff;
}
.partsBox main{
	width: 1200px;
	margin: 0 auto;
}
.partsBox main article{
	margin-bottom: 60px;
}
/*家居*/
.houseBox{
	width: 100%;
	background-color: #ffffff;
}
.houseBox main{
	width: 1200px;
	margin: 0 auto;
}
.houseBox main article{
	margin-bottom: 60px;
}
/*底部*/
.bottomBox{
	width: 100%;
	background-color: #f9f9f9;
}
.bottomBox main{
	width: 1200px;
	margin: 0 auto;
}
/*头部列表*/
.bottomBox main nav{
	padding: 22px 0 20px;
	border-bottom: 1px solid #e5e5e5;
}
.bottomBox main nav ul li{
	float: left;
}
.bottomBox main nav ul li a{
	font-size: 18px;
	color: black;
	padding-right: 120px;
}
.bottomBox main nav ul li:last-child a{
	padding-right: 0px;
}
.bottomBox main nav ul li a i{
	display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: url(../images/icon-header.png) no-repeat;
}
.bottomBox main nav ul li:first-child a i{
	background-position: -358px -207px;
}
.bottomBox main nav ul li:nth-child(2) a i{
	background-position: -398px -207px;
}
.bottomBox main nav ul li:nth-child(3) a i{
	background-position: -438px -207px;
}
.bottomBox main nav ul li:last-child a i{
	background-position: -478px -207px;
}
/*内容列表*/
.bottomBox main .service{
    padding: 23px 0 24px;
    border-bottom: 1px solid #e5e5e5;
}
.bottomBox main .service .f1{
	width: 920px;
	border-right: 1px solid #e5e5e5;
	float: left;
}
.bottomBox main .service .f1 div{
	float: left;
	width: 153px;
}
.bottomBox main .service .f1 dt{
	font-size: 14px;
    color: #3a3a3a;
}
.bottomBox main .service .f1 dt .title{
	padding-bottom: 7px;
}
.bottomBox main .service .f1 dd ol li{
	line-height: 22px;
    color: #777;
}
.bottomBox main .service .f1 dd ol li a{
	color: #777;
	font-size: 12px;
}
.bottomBox main .service .f1 dd ol li a:hover{
	color: #cb242b;
}
/*右边电话部分*/
.bottomBox main .service .f1-r{
	float: left;
	width: 279px;
}
.bottomBox main .service .f1-r dl{
	text-align: center;
}
.bottomBox main .service .f1-r dl dt{
	font-size: 14px;
    color: #3a3a3a;
	margin-top: 10px;
}
.bottomBox main .service .f1-r dl dt p{
	color: #cb242b;
    font-weight: bold;
    font-size: 20px;
}
.bottomBox main .service .f1-r dl dd{
	font-size: 14px;
	margin-top: 10px;
}
.bottomBox main .service .f1-r dl #online{
	display: block;
	width: 168px;
    height: 32px;
    padding: 0;
    margin: 14px 0 0 54px;
    border: 1px solid #cb242b;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #cb242b;
    cursor: pointer;
    border-radius: 6px;
}
.bottomBox main .service .f1-r dl dd #online i{
	display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 6px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    background: url(../images/icon-header.png) no-repeat;
    background-position: -333px -210px;
}
/*电话小图标部分*/
.bottomBox main .service .f1-r .Vmall{
	float: left;
    width: 250px;
    margin-top: 26px;
    margin-left: 40px;
}
.bottomBox main .service .f1-r .Vmall p{
	font-size: 14px;
    color: #333;
    float: left;
}
.bottomBox main .service .f1-r .Vmall ul{
	float: left;
}
.bottomBox main .service .f1-r .Vmall ul li{
	width: 24px;
    height: 24px;
    margin-right: 11px;
    position: relative;
    float: left;
    background: url(../images/icon-header.png) no-repeat;
}
.bottomBox main .service .f1-r .Vmall ul .weixin{
	background-position: -355px -171px;
}
.bottomBox main .service .f1-r .Vmall ul .weixin .wei-pic{
	width: 100px;
	height: 100px;
	border: 1px solid #f9f9f9;
	position: absolute;
	z-index: 1;
	top: 23px;
	left: -35px;
	display: none;
}
.bottomBox main .service .f1-r .Vmall ul .weixin .wei-pic img{
	width: 100%;
	height: 100%;
}
.bottomBox main .service .f1-r .Vmall ul .toutiao{
	background-position: -403px -171px;
}
.bottomBox main .service .f1-r .Vmall ul .weibo{
	background-position: -450px -171px;
}
.bottomBox main .service .f1-r .Vmall ul .huawei{
	background-position: -500px -171px;
}
/*底部*/
.footerBox{
	width: 100%;
	background-color: #f9f9f9;
}
.footerBox main{
	width: 1200px;
	padding: 22px 0 22px;
	color: #666;
	margin: 0 auto;
}
.footerBox main .footer-content .footer-logo{
	width: 82px;
    height: 20px;
    padding: 4px 20px 0 0;
    float: left;
}
.footerBox main .footer-content .footer-logo a{
	display: block;
}
.footerBox main .footer-content .footer-logo a img{
    width: 100%;
    height: 100%;
}
/*集团介绍*/
.footerBox main .footer-content .group{
	float: left;
	color: #a4a4a4;
	font-size: 12px;
	line-height: 20px;
}
.footerBox main .footer-content .group ul li{
	float: left;
	position: relative;
}
.footerBox main .footer-content .group ul li a{
	color: #777;
	font-size: 12px;
}
.footerBox main .footer-content .group ul li:nth-child(1):after,
.footerBox main .footer-content .group ul li:nth-child(2):after,
.footerBox main .footer-content .group ul li:nth-child(3):after,
.footerBox main .footer-content .group ul li:nth-child(4):after,
.footerBox main .footer-content .group ul li:nth-child(5):after,
.footerBox main .footer-content .group ul li:nth-child(6):after,
.footerBox main .footer-content .group ul li:nth-child(7):after,
.footerBox main .footer-content .group ul li:nth-child(8):after,
.footerBox main .footer-content .group ul li:nth-child(9):after{
	content: "";
    width: 1px;
    height: 13px;
    background: #d3d3d3;
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0 6px;
}
.footerBox main .footer-content .group ul li:first-child a{
	padding-left: 0px;
}
.footerBox main .footer-content .group ul li:last-child a{
	border:none;
}
.footerBox main .footer-content .group ul li a:hover,
.footerBox main .footer-content .group > a:hover{
	color: #cb242b;
}
.footerBox main .footer-content .group > a{
	color: #a4a4a4;
}
/*最后 右边两个小图片*/
.footerBox main .footer-content .footer-right{
	float: right;
}
.footerBox main .footer-content .footer-right a{
	float: left;    
	display: block;
    width: 70px;
    margin-left: 17px;
    height: 24px;
}
.footerBox main .footer-content .footer-right a img{
    width: 70px;
    height: 24px;
}