@charset "UTF-8";
/*头部*/
.headerBox{
  width: 100%;
  background-color: #ebebeb;
  main{
	  width: 998px;
	  margin: 0 auto;
	  .main-logo{
	  	width: 143px;
	  	float: left;
	  	img{
	  		margin:17px 0 17px 4px;
	  	}
	 }
	 .websiteName{
	 	b:first-child{
	 		font-size: 18px;
	 		margin: 23px 20px 0 20px;
	 		float: left;
	 		color:#cccccc;
	 		font-weight: normal;
	 	}
	 	b:last-child{
	 		font-size: 18px;
	 		margin-top: 23px;
	 		float: left;
	 		font-weight: normal;
    		font-family: "arial";
    		color: black;
	 	}
	 } 
  } 
}
/*安全部分*/
.secure{
	background: #FFFBE4;
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #989898;
    .basis{
    	 text-align: center;
	     line-height: 40px;
	     color: #989898;
	     font: 12px/1.5 Arial, Helvetica, sans-serif;
    }
}
/*登录*/
.loginform{
	background-color: #081638;
	main{
		background: url(../images/login_default_bg.png) no-repeat;
		background-size: cover;
		width: 1130px;
	    margin: 0 auto;
	    zoom: 1;
	    position: relative;
	    .login-area{
	    	margin-top: 30px;
		    margin-bottom: 30px;
		    height: 530px;
		    position: relative;
		    width: 380px;
		    float: right;
		    background-color: #FFFFFF;
		    .h{
		    	width: 100%;
			    margin: 24px auto;
			    text-align: center;
		    	span{
		    		font-size: 20px;
				    color: #333333;
				    font-weight: 500;
				    cursor: pointer;
				    width: 169px;
				    display: inline-block;
				    text-align: center;
				    vertical-align: middle;
				    padding: 0 10px;
				    float: left;
		    	}
		    	.loginTitle-left{
		    		border-right: 1px solid #cccccc;
		    	}
		    }
		    .b-account{
	    	    width: 328px;
				margin: 0 auto;
		    	.login-form{
		    		table{
		    			width: 328px;
		    			border-collapse: collapse;
    					border-spacing: 0;
    					.user-input-td,.pwd-input-td{
    						border-bottom: 1px solid #cccccc;
    						height: 46px;
    					}
						#username,#password{
							width: 100%;
							border: none;
						    color: #333333;
						    font-size: 14px;
						    height: 46px;
						    line-height: 46px;
						    border-radius: 0px;
						    outline: none;
						}
						.mt-links{
							padding: 16px 0;
							#smsLoginEntrance{
								color: #007dff;
    							cursor: pointer;
    							font-size: 12px;
    							i{
    								margin-right:5px;
    							}
							}
						}
						.button-login{
							background-color: #B40707;
						    border-width: 0 0 2px 0;
						    border-style: solid;
						    border-color: #B40707;
						    color: #fff;
						    font-family: "Microsoft YaHei" ! important;
						    width: 100%;
						    border-radius: 0px;
						    line-height: 44px;
						    height: 44px;
						    font-weight: bold;
						    font-size: 14px;
						    background-image: none;
						    cursor: pointer;
						    border-radius: 26px;
						    text-align: center;
						    margin-top: 0px;
						    outline: none;
						}
						.mt-checkbox{
							padding: 16px 0;
    						position: relative;
							#rememberNameSpan{
								overflow: hidden;
								float: left;
								input{
									margin-top:3px;
									float: left;
								}
								label{
									cursor: pointer;
									font-size: 12px;
									float:left;
									margin-left: 7px;
								}
							}
							.mt-links-float{
								float: right;
								font-size: 12px;
								color: #007dff;
							}
						}
						.others{
							text-align: center;
							.otherContent{
								.regist{
									padding-right: 10px;
								    border-right: 1px solid #cccccc;
								    text-align: right;
								}
								.forgot{
									padding-left: 10px;
    								text-align: left;
								}
								a{
									color: #007dff;
									font-size: 12px;
								}
							}
						}
		    		}
		    	}
		    }
		    /*扫码登录*/
		    .yardLogin{
		    	.qrCode-main{
		    		height: 318px;
    				position: relative;
    				.qrCodeContent{
					    #qrcodeImg{
					    	top: 40px;
						    left: 115px;
						    position: absolute;
						    display: inline-block;
						    width: 150px;
						    height: 150px;
						    z-index: 100;
						    vertical-align: middle;
						    padding: 5px;
						    border: 1px solid #999;
						    background: #fff;
					    }
    				}
		    	}
		    	.qrCode-desc{
	    		    margin-bottom: 24px;
					padding: 0 10px;
					p{
						font-size: 12px;
					    padding: 5px 0;
					    text-align: center;
					    span{
					    	font-size: 13px;
						    color: #007dff;
						    text-align: center;
					    }
					}
		    	}
		    }
		    .thirdLoginBlock{
		    	text-align: center;
			    position: absolute;
			    bottom: 0px;
			    color: #999;
			    line-height: 16px;
			    width: 100%;
			    .thirdLintTitle{
			    	position: relative;
				    width: 100%;
				    margin-bottom: 30px;
				    .third-tips{
				    	color: #cccccc;
					    text-align: center;
					    display: inline-block;
					    position: relative;
					    z-index: 1;
					    background: #ffffff;
					    padding: 0 10px;
					    line-height: 1.5;
					    font-size: 12px;
				    }
			    }
			    .thirdLoginDiv {
				    text-align: center;
				    margin-bottom: 10px;
				    span{
				    	padding: 0px 10px;
					    text-align: center;
					    display: inline-block;
					    cursor: pointer;
					    i{
					    	font-size: 42px;
					    }
				    }
				}
		    }
	    }
	}
}
/*底部*/
.footerBox{
	height: 100%;
   width: 100%;
   background-color: #ebebeb;
   main{
		width: 960px;
		margin:0 auto;
		padding-top: 24px;
		.footer{
			height: 24px;
			text-align: center;
			a{
				font-size: 12px;
			    color: #999;
			    padding: 0 10px;
			}
			em{
				font-weight: normal;
    			font-style: normal;
    			line-height: 24px;
    			color: #999;
			}
		}
		.copyrightPart{
			font-size: 14px;
			color: #999;
			text-align: center;
			margin:10px 0 20px 0;
		}
   }
}
.active{
	color: #B40707!important;
}
.loginTitle{
	font-family: "Microsoft YaHei" ! important;
}